/* CSS Document */
body {
    background:hsl(0, 0%, 93%);
}

header {
    height: 75px;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(90deg, #212529, #343a40, #495057);
    color: white;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.header-material {
    display: flex;
    flex-direction: row;
    position: fixed;
}

#logo {
    position: relative;
    width: 100px;
    top: 5px;
    left: 5px;
}

#titlelogo {
    position: absolute;
    font-family: 'RocknRoll One', sans-serif;
    left: 90px;
}

#account {
    position: relative;
    left: 790px;
    top: 3px;
}

#newrelease {
    position: relative;
    left: 850px;
    top: 3px;
}

#shop {
    position: relative;
    left: 920px;
    top: 3px;
}

#cart {
    position: relative;
    height:60px;
    width: 70px;
    top: 10px;
    left: 1000px;
}

.slogan {
    top: 100px;
    position: relative;
}

.slogan::before {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp2279368.jpg");
    background-size: cover;
    border-radius: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}


#slogan-pic {
    position: relative;
    width: 250px;
    padding: 20px;
}

#slogan-text {
    position: relative;
    color:white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

#sub-slogan-text {
    position: relative;
    color: white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    bottom: 15px;
}

.featured {
    position: relative;
    top: 100px;
    left: 5px;
    display: flex;
    flex-direction: row;
    height: 270px;
    width: 99.5%;
    background: linear-gradient(90deg, #495057, rgb(121, 115, 115), #495057 );
    justify-content: space-evenly;
    border-radius: 24px;
}
.feature-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 12px;
    color: #dad9db;
}

.feature-direction:hover {
    color: white;
}

#feature-title {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 100px;
    padding: 15px;
}

#feature-product-1 {
    width: 150px;
    position: relative;
    padding: 15px;
}

#feature-product-2 {
    width: 150px;
    position: relative;
    padding: 15px;
}

#feature-product-3 {
    width: 143px;
    position: relative;
    padding: 15px;
}


#feature-product-4 {
    width: 103px;
    position: relative;
    padding: 15px;
}

#feature-product-5 {
    width: 200px;
    position: relative;
    padding: 15px;
}

#feature-product-6 {
    width: 105px;
    position: relative;
    padding: 15px;
}

#feature-product-7 {
    width: 155px;
    position: relative;
    padding: 15px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
    #header{
        border-color: yellow;
    }
}
